# Example environment variables
# REQUESTTOOL_LOG_LEVEL=info

# Database
EAZYTEST_DATABASE_URL=sqlite:///./web_eazytest.db
EAZYTEST_DATABASE_AUTO_MIGRATE=true

# Bootstrap admin
EAZYTEST_USER_PASSWORD_MIN_LENGTH=12
EAZYTEST_BOOTSTRAP_ADMIN_ENABLED=false
EAZYTEST_BOOTSTRAP_ADMIN_USERNAME=
EAZYTEST_BOOTSTRAP_ADMIN_PASSWORD=
